/****init***/

body, table, input, radio, select, textarea {
  font-family:arial;
  font-size:14px;
  color:#444;
}

.formtable td { 
  height:50px;
  vertical-align:top;
}

.signtable td{
	vertical-align:top;
}

.searchtable{
  padding:10px 10px;
  border:1px solid #C6D5E1;
  background:#ECF2F6;
  
  max-width:660px;
  height:25px;
  position:relative;
  left:2px;
  margin-bottom:10px;
}

.paddingselect{
  padding:2px;
  width:173px;
}

.searchbacklink{
  color:#888;
  font-size:11px;
  text-decoration:none;
  position:relative;
  top:-5px;
}

#searchbacklink:hover{
  text-decoration:underline;
}

.formtable td textarea{
	margin-bottom:10px;
	width:400px;
}

.formattable{
	font-size:13px;
}

.formattable th {
  padding:10px 20px 10px 20px;
  text-align:left;
  background:#597D98;
  color:#fff;
}

.formattable th a{
  color:#fff;
}

.formattable td {
  padding:10px 20px 10px 20px;
  text-align:left;
  vertical-align: middle;
}

.formattable tr:hover td {
  background: #C6D5E1;
}

.rfloat{
  float:right;
  text-align:right;
}

.lfloat{
  float:left;
  text-align:right;
}

/****fi init***/

/****errors***/

#form_errors{
	color:red;
	font-weight:bold;
	clear:both;
}

.input_error{
  border:1px solid #ff0000;
}

label.error, div.error{
	font-weight:bold;
	color:red;
	font-size:13px;
}

.info_ok{
  width: 98.35%;
  height:auto;
  background:green;
  color:white;
  border:1px solid green;
  padding:10px;
  margin-bottom:10px;
  margin-top:10px;
  font-weight:bold;
}

.info_ko{
  width: 98.35%;
  height:auto;
  background:red;
  color:white;
  border:1px solid red;
  padding:10px;
  margin-bottom:10px;
  margin-top:10px;
  font-weight:bold;
}


/****end errors***/

/****paginate***/

#paginat{
  position:relative;
  margin-top:20px;
  left:3px;
  font-size:11px;
}

.paginat_item{
	border:1px solid #cac9c9;
	color:#717171;
	font-weight:bold;
	height:13px;
	line-height:13px;
	margin-right:10px;
	padding:5px;
	text-align:center;
	width:20px;
	background:#EBEBED;
}

.paginat_no_seleccionable{
	background-color:#AAA;
	color:#888;
	cursor:default;
	margin-right:10px;
}

.paginat_no_seleccionable_button{
	background-color:#fff;
	cursor:default;
	margin-right:15px;
	text-decoration:none;
	border:0px;
	position:relative;
	top:2px;
	color:#717171;
}

.paginat_seleccionable{
	cursor:pointer;
	text-decoration:none;
}

.paginat_seleccionable:hover{
	color:#dc5902;
	border:1px solid #dc5902;
}

.paginat_seleccionable_button {
	width:20px;
	height:13px;
	padding:5px;
	background:#fff;
	text-align:center;
	position:relative;
	top:2px;
	margin-right:10px;
	border:0px solid #fff;
}

.paginat_seleccionable_button:hover {
	border:0px solid #fff;
	cursor:pointer;
}

.paginat_actual{
	color:#FD8003;
	background:#fce0c5;
	border:1px solid #ffab58;
}

/****end paginate***/

#loginbox{
  position:relative;
  width:380px;
  padding:20px;
  margin:0px auto;
  border:2px solid #a0a0a0;
  -webkit-border-radius: 10px; 
  -moz-border-radius: 10px; 
  margin-top:100px;
  
  -webkit-box-shadow: 8px 8px 8px #ccc;  
	-moz-box-shadow: 8px 8px 8px #ccc;  
	box-shadow: 8px 8px 8px #ccc;  
}

#loginbox h1{
  font-size:20px;
}


#submit{

  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  
  border: 2px solid #919191;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 10px;

  background:#F0F0F0;
  color:#444;
}

.return{

  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  
  border: 2px solid #919191;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 12px; 
  text-decoration:none; 
  
  position:relative;
  top:1px;
  
  background:#F0F0F0;
  color:#444;
}

.search{
  -webkit-border-radius: 4px; 
  -moz-border-radius: 4px; 
  
  border: 2px solid #919191;
  cursor: pointer;
  font-size: 11px;
  font-weight: bold;
  padding: 4px 10px; 
  text-decoration:none; 
  
  position:relative;
  top:-2px;
  margin-left:15px;
  
  background:#F0F0F0;
  color:#444;
}

#submit:hover, .return:hover, .search:hover{

  border-color: #6FA2FF;
  background:#dCE9D8;
}


#bcontainer{
  margin:0px auto;
  width:95%;
}

#btop{
  padding-bottom:20px;
}

#privatezone li{
  margin-bottom:10px;
}

.ajaxloader_img{
	height:32px;
	width:32px;
	float:left;
}

.ajaxloader_text{
	background: url(/img/ajax-loader.gif) no-repeat 6px;
	height:132px;
	float:left;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	color:#435160;
	height:32px;
	line-height:32px;
	padding-left:48px;	
}


/*login*/
.login_box_container{
  margin:0px auto;
  width:940px;
}

.login_box_right{
  margin-bottom:80px;
  width:464px;
  height:auto;
  float:right;
  margin-left:0px;
}

.login_box_left{
  position:relative;
  left:-10px;
  width:464px;
  height:auto;
  margin-bottom:80px;
  float:left;
  margin-right:0px;
}

.login_box_top{
  width:464px;
  height:22px;
  line-height:22px;
  padding-left:10px;
  background:#4E5E6F;
  background-position: -4px -350px;
  font-size:13px;
  color:#fff;
  font-weight:bold;
}

.login_box_cont{
  position:relative;
  width:442px;
  height:auto;
  background:#f7f7f7;
  border:1px solid #bfbfbf;
  padding:15px;
  margin-bottom:10px;
  border-bottom-right-radius:4px;
  -moz-border-radius-bottomright:4px;
  -webkit-border-bottom-right-radius::4px;
  border-bottom-left-radius:4px;
  -moz-border-radius-bottomleft:4px;
  -webkit-border-bottom-left-radius::4px;
  border-top:0px;
  padding-bottom:20px;
  font-size:12px;
  height:150px;
  text-align:justify;
}

.login_box_cont table,.login_box_cont input {
	font-size:13px;
}

.login_box_cont  #submit , .login_box_cont > a{
    position: absolute;
    right: 20px;
    top: 136px;
}


.login_box_cont input[type=text], .login_box_cont input[type=password] {
	width:250px;
}

.captcha_info{
  color:red;
  display:inline-block;
  margin-bottom:20px;
  margin-top:20px;
}

#recaptcha_image{
  margin-bottom:10px;
}

.helper{
  color:#6F6F6F;
  font-size:11px;
  position:relative;
  top:5px;
  margin-bottom: 30px;
  display:block;
}



/*fi login*/






