RewriteEngine On

AddDefaultCharset UTF-8

#Redirigir a www.framework.com si ve de framework.com
RewriteCond %{HTTP_HOST} ^guimpo.com$
RewriteRule ^(.*)$ http://www.guimpo.com/$1 [R=301,L]

#Reglas htaccess para login
RewriteRule ^login$ /login/ [R] 
RewriteRule ^login/$ /login.php [QSA,L]
#Fi Reglas htaccess para login

#Reglas htaccess para login
RewriteRule ^logout$ /logout/ [R] 
RewriteRule ^logout/$ /logout.php [QSA,L]
#Fi Reglas htaccess para login

#Reglas htaccess para el registro de usuarios
RewriteRule ^newuser$ /newuser/ [R] 
RewriteRule ^newuser/$ /new_user.php [QSA,L]
#Fi Reglas htaccess para el registro de usuarios

#Reglas htaccess para el registro de usuarios
RewriteRule ^reminder_password$ /reminder_password/ [R] 
RewriteRule ^reminder_password/$ /reminderpass_create.php [QSA,L]
#Fi Reglas htaccess para el registro de usuarios

#Reglas htaccess para el cambio de password
RewriteRule ^change_password$ /change_password/ [R] 
RewriteRule ^change_password/$ /changepass_create.php [QSA,L]
RewriteRule ^change_password/([a-zA-Z0-9-]+)$ /change_password/$1/ [R] 
RewriteRule ^change_password/([a-zA-Z0-9-]+)/$ /changepass_create.php?hash=$1 [QSA,L] 
#Reglas htaccess para el cambio de password

#Reglas htaccess para usuarios
RewriteRule ^admin/users/create$ /admin/users/create/ [R] 
RewriteRule ^admin/users/create/$ /admin/users_create.php [QSA,L]

RewriteRule ^admin/users/list$ /admin/users/list/ [R] 
RewriteRule ^admin/users/list/$ /admin/users_list.php?pag=1 [QSA,L] 
RewriteRule ^admin/users/list/([0-9]+)$ /admin/users_list/$1/ [R] 
RewriteRule ^admin/users/list/([0-9]+)/$ /admin/users_list.php?pag=$1 [QSA,L] 

RewriteRule ^admin/users/edit$ /admin/users/edit/ [R] 
RewriteRule ^admin/users/edit/$ /admin/users/list/ [R] 
RewriteRule ^admin/users/edit/([0-9]+)$ /admin/users/edit/$1/ [R] 
RewriteRule ^admin/users/edit/([0-9]+)/$ /admin/users_edit.php?id=$1 [QSA,L] 

RewriteRule ^admin/users$ /admin/users/ [R] 
RewriteRule ^admin/users/$ /admin/users/list/ [R] 
RewriteRule ^admin/users/([0-9]+)$ /admin/users/$1/ [R] 
RewriteRule ^admin/users/([0-9]+)/$ /admin/users.php?id=$1 [QSA,L]

RewriteRule ^admin/users/delete$ /admin/users/delete/ [R] 
RewriteRule ^admin/users/delete/$ /admin/users/list/ [R] 
RewriteRule ^admin/users/delete/([0-9]+)$ /admin/users/delete/$1/ [R] 
RewriteRule ^admin/users/delete/([0-9]+)/$ /admin/users_actions.php?id=$1&a=delete [QSA,L]
#Fi Reglas htaccess para usuarios

